@CHARSET "UTF-8";
#login {
	top:250px;
	left:500px;	
	position:fixed;	
}
table{
	border-collapse:collapse;
	border:1px solid;
	border-style: none;
}
table tr td{
	padding: 4px 9px 4px 9px;	
}