@CHARSET "UTF-8";

div#headnode  {
	clear: both;
	margin: 5px;
	left:500px;
}

div#bcontent {
	clear: both;
}
div#nl div{	
	clear:both;
	#float:left;
	width:50px;	
	position:absolute;
	top:115px;
}
.llevel#lv1{	
	top:110px;
}
.llevel#lv2{
	
	top:210px;
}
.llevel#lv3{
	z-index:10000;
	top:310px;
}
.llevel#lv4{
	z-index:10000;
	top:410px;
}
.llevel#lv5{
	z-index:10000;
	top:510px;
}
.llevel#lv6{
	z-index:10000;
	top:610px;
}

#search {
	
}

div#backward-buttom div {
	float: left;
	margin: 7px;
}

div#backward  {
	width:160px;
	
}

div#backward1 div {
	
}

div#backward6 div {
}

div#mainnode div {
	position:relative;
	top:15px;
	float: left;
	text-align: center;
	width: 900px;
	left:20px;
}

div#mainnode {
	background-image: url(../images/EmptyOrg1.jpg);	
	width:980px;	
	z-index: 50000;
	
}
div#l1 div {
	width: 100%;	
}

div#n1 {
	
}

div#l2 div {
	width: 50%;
	height: 100px;
	height:100px	
}

#n2 {
	
}

#n3 {
	position: absolute;
	left:10px;
}

div#l3 div {
	width: 25%;
	height: 90px;
}

div#n4 {
	
}

div#n5 {
	
}

div#n6 {
	
}

div#n7 {
	
}

div#l4 div {
	width: 12.5%;
	height: 80px;
}

div#n8 {
	
}

div#n9 {
	
}

div#n10 {
	
}

div#n11 {
	
}

div#n12 {
	
}

div#n13 {
	
}

div#n14 {
	
}

div#n15 {
	
}

div#l5 div {
	width: 6.25%;
	height: 70px;
}

div#n16 {
	
}

div#n17 {
	
}

div#n18 {
	
}

div#n19 {
	
}

div#n20 {
	
}

div#n21 {
	
}

div#n22 {
	
}

div#n23 {
	
}

div#n24 {
	
}

div#n25 {
	
}

div#n26 {
	
}

div#n27 {
	
}

div#n28 {
	
}

div#n29 {
	
}

div#n30 {
	
}

div#n31 {
	
}

div#l6 div {
	width: 3.125%;
	height: 65px;
}
div#status {
	clear:none;
	max-width:24px
}


div#personPopupContainer div {
	clear: none;
	height: 40px;
	background-color: #FFF;
	min-width: 80px;
}

#personPopupContainer {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 20000;
	background-color: #FFF;
}

#tablepopup {
	height: auto;
	width: auto;
}

.personPopupPopup {
	width: 180px;
}

#personPopupContent {
	background-color: #FFF;
	min-width: 170px;
	min-height: 50px;
}

.personPopupPopup .personPopupImage {
	margin: 5px;
	margin-right: 15px;
}

.personPopupPopup .corner {
	width: 19px;
	height: 15px;
}

.personPopupPopup .topLeft {
	background: url(../images/balloon_topLeft.png) no-repeat;
}

.personPopupPopup .bottomLeft {
	background: url(../images/balloon_bottomLeft.png) no-repeat;
}

.personPopupPopup .left {
	background: url(../images/balloon_left.png) repeat-y;
}

.personPopupPopup .right {
	background: url(../images/balloon_right.png) repeat-y;
}

.personPopupPopup .topRight {
	background: url(../images/balloon_topRight.png) no-repeat;
}

.personPopupPopup .bottomRight {
	background: url(../images/balloon_bottomRight.png) no-repeat;
}

.personPopupPopup .top {
	background: url(../images/balloon_top.png) repeat-x;
}

.personPopupPopup .bottom {
	background: url(../images/balloon_bottom.png) repeat-x;
	text-align: center;
}

div#name {
	height: 8px;
	width: 60px;
}

div#nid {
	height: 8px;
	width: 60px;
}