@CHARSET "UTF-8";
div#headnode {
	clear: both;
	margin: 5px;
	left: 500px;
}
div#bcontent {
	clear: both;
}
div#nl div {
	clear: both; 
	float: left;
	width: 50px;
	position: absolute;
	top: 115px;
}

.llevel#lv1 {
	top: 150px;
	height: 108px;
}

.llevel#lv2 {
	top: 258px;
}

.llevel#lv3 {
	z-index: 10000;
	top: 350px;
}

.llevel#lv4 {
	z-index: 10000;
	top: 475px;
}

.llevel#lv5 {
	z-index: 10000;
	top: 535px;
}

.llevel#lv6 {
	z-index: 10000;
	top: 580px;
}
div#backward-buttom div {
	float: left;
	margin: 7px;
}

div#backward {
	width: 160px;
}
div#mainnode div {
	position: relative;
	float: left;
	
	width: 980px;
	left: 3px;
}

div#mainnode {
	background-image: url(../images/EmptyOrg3.jpg);
	width: 980px;
	height: 501px;
}

div#l1 div {
	width: 100%;
	height: 108px;
	top: 18px;
	
}
div#l2 div {
	width: 50%;
	height: 90px;
	top: 10px;
}
div#l3 div {
	width: 25%;
	height: 85px;
	top:20px
}

div#l4 div {
	width: 12.5%;
	height: 100px;
	top:33px;
}
div#l5 div {
	width: 6.25%;
	height: 70px;
	top:23px
}

div#l6 div {
	width: 3.125%;
	height: 60px;
	top:4px
}

div#status {
	clear: none;
	max-width: 24px
}

div#personPopupContainer div {
	clear: none;
	height: 40px;
	background-color: #FFF;
	min-width: 80px;
}

#personPopupContainer {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 80000;
	background-color: #FFF;
}

#tablepopup {
	height: auto;
	width: auto;
}

.personPopupPopup {
	width: 180px;
	z-index: 50000;
}

#personPopupContent {
	background-color: #FFF;
	min-width: 170px;
	min-height: 50px;
}

.personPopupPopup .personPopupImage {
	margin: 5px;
	margin-right: 15px;
}

.personPopupPopup .corner {
	width: 19px;
	height: 15px;
}

.personPopupPopup .topLeft {
	background: url(../images/balloon_topLeft.png) no-repeat;
}

.personPopupPopup .bottomLeft {
	background: url(../images/balloon_bottomLeft.png) no-repeat;
}

.personPopupPopup .left {
	background: url(../images/balloon_left.png) repeat-y;
}

.personPopupPopup .right {
	background: url(../images/balloon_right.png) repeat-y;
}

.personPopupPopup .topRight {
	background: url(../images/balloon_topRight.png) no-repeat;
}

.personPopupPopup .bottomRight {
	background: url(../images/balloon_bottomRight.png) no-repeat;
}

.personPopupPopup .top {
	background: url(../images/balloon_top.png) repeat-x;
}

.personPopupPopup .bottom {
	background: url(../images/balloon_bottom.png) repeat-x;
	text-align: center;
}

#name1 {
	height: 8px;
	width: 60px;
}

#status {
	
}

#main {
	height: 600px;
}

#b1 {
	margin-left: 180px;
}
