@CHARSET "UTF-8";
input.text {
	margin: 5px 9px 5px 9px;
	width: 150px;
	padding: 1px 5px 1px 5px;
}
.selectop {
	margin: 5px 9px 5px 9px;
	width: 150px;
}

.th2 {
	height: 30px;
}
#input-form{
	position: relative;
	margin-left: 40px;
	
	}
#user{
	margin-top:10px
	}
#main-regist {
	margin-top:10px;	
}
#main{
	height: 370px	}
.tf {
	margin: 7px 30px 7px 35px;
	padding-left: 90px;
	padding-top: 9px;
	padding-bottom: 9px;
}

label {
	padding-left: 10px;
}

textarea.text {
	margin: 5px 9px 5px 9px;
	width: 150px;
}

select.text {
	margin: 5px 9px 5px 9px;
	width: 150px;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}
.actionMessage{
	font-size: 32;
	font-style:oblique;	
	color: #03f;
}