<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/jdbc
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<context:annotation-config />
	<http auto-config="true" use-expressions="true">
		<form-login login-page="/login.jsp" default-target-url='/default.action'
			always-use-default-target='true' />			
		<intercept-url pattern="/login.jsp*" access="isAnonymous()" />		
		<intercept-url pattern="/faces/**" access="hasRole('ROLE_MEMBER')" />
		<intercept-url pattern="/**" access="hasRole('ROLE_MEMBER')" />
		<logout invalidate-session="true" logout-success-url="/login.jsp" logout-url="/j_spring_security_logout"/>
		<!-- <form-login login-page="/login.jsp" /> -->
	</http>
	<!-- <beans:bean id="shaPasswordEncoder" class="org.springframework.security.providers.encoding.ShaPasswordEncoder"> 
		<beans:constructor-arg value="512" /> </beans:bean> -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetail" >
			<password-encoder hash="sha"/>
		</authentication-provider>
		<authentication-provider>
			<password-encoder hash="sha" />
			<user-service>
				<user authorities="ROLE_MEMBER,ROLE_ADMIN,ROLE_STAFF" name="evolix"
					password="5f197f8ed4f9c2a3742fb10a0adb5a4d00fec94b" />
			</user-service>
		</authentication-provider>

	</authentication-manager>
</beans:beans>
